@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Ukraine International is Ukraine’s strategic aviation business. UIA is a low-fare network carrier. Its core businesses are passenger and cargo transportation.

Ukraine International offers a vast selection of point-to-point and transit travel opportunities. The airline connects Ukraine with 38 countries in Europe, Asia, America, Africa, and the Middle East. The carrier operates 1100 international and domestic flights weekly and provides connections with partner airlines’ services to over 3000 destinations worldwide.

Kiev Boryspil International Airport, KBP, is the UIA base hub.

Currently, UIA operates 42 aircraft.

UIA holds a handling network. The latter empowers the carrier to closely monitor service quality, sell handling services to other airlines, and generate more employment opportunities in Ukraine.

By 2021, UIA plans to actively enhance and renew fleet, expand Eastern and South-eastern route networks, increase frequencies of westbound flights, as well as further develop transit potential of Kiev Boryspil International airport and regional hubs in the cities of Ukraine.</p>
