@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    CONTACT CENTER<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">Phone (1):</abbr>
    +38 (044) 581-50-50
    <abbr title="Phone">Phone (2):</abbr>
    +38 (044) 581-50-50
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:Support@example.com">сontact@flyuia.com</a><br />
    <strong>Kiev Head Office:</strong> <a href="mailto:Marketing@example.com">uia@flyuia.com</a>
</address>