@{
    ViewBag.Title = "UIA Booking";
}

<div class="jumbotron" 
     style="background-image: url('http://wallup.net/wp-content/uploads/2015/12/246538-landscape-night-airport-airplane-lights-landing-technology-Osaka-Japan-cityscape.jpg'); 
            background-size:100% 100%;
            height: 500px">
    <h1 align="center" style="color:white">UIA (US)</h1>
    <p class="lead" align="center" style="color:white">Ukraine International Airlines (UIA) is the flagship carrier and largest airline in Ukraine.
            It operates domestic and international passenger flights and cargo services to Europe, the
            Middle East, the United States, and Asia.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <p><a href="/Home/About" class="btn btn-primary btn-lg">About &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a href="/Home/Contact" class="btn btn-primary btn-lg">Contact &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a href="/Flight/SearchFlight" class="btn btn-primary btn-lg">Search For Flights &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a href="/Manage/Booking" class="btn btn-primary btn-lg">View Booking &raquo;</a></p>
    </div>
</div>
